:root {
    /* Primary Colors */
    --primary-purple: #9D38DF;
    --primary-pink: #F26479;
  
    /* Secondary Color */
    --secondary-purple: #4E3286;
  
    /* Background and Card Fill */
    --page-background: #12052F;
    --card-fill: #584877;
    --background-black: #000000;
    --dark-background: #12062A;
  
    /* Text Colors */
    --text-primary: #FFFFFF;
    --text-secondary: #CACACA;
  }
  
  /* Apply the page background to the body */
  body {
    background-color: var(--page-background);
    color: var(--text-primary);
  }